.TargetBox {
  position: absolute;
  outline: 5px solid black;
  outline-offset: 3rem;
  z-index: 1000;
  background-color: red;
  &--ad2222 {
    outline-color: var(--yellow);
  }
  &--paranormal {
    outline-color: var(--white);
  }
  .Dropdown {
  }
}
