@import "../../styles/abstracts/_mixins.scss";

.Game {
  position: relative;

  &__gameboard {
    position: relative;
  }
  &__image {
    width: 100%;
    display: block;
    position: absolute;
    margin-top: 20rem;
  }
  .Dropdown {
  }
}

.lois-griffin {
  height: 3vw;
  width: 4vw;
  position: absolute;
  margin-top: calc(89.3% + 20rem);
  left: 32%;
}

.patrick-star {
  height: 4.5vw;
  width: 4.3vw;

  position: absolute;
  left: 64.3%;
  margin-top: calc(90.1% + 20rem);
}
.peter-griffin {
  position: absolute;
  left: 73%;
  width: 4.3vw;
  height: 5vw;
  margin-top: calc(165.2% + 20rem);
}
.consuela {
  position: absolute;
  left: 34.5%;
  width: 4.3vw;
  height: 5vw;
  margin-top: calc(52.5% + 20rem);
}
.stewie-griffin {
  position: absolute;
  left: 93%;
  width: 3vw;
  height: 3vw;
  margin-top: calc(88.5% + 20rem);
}
.tom {
  position: absolute;
  left: 84.3%;
  width: 4.3vw;
  height: 5vw;
  margin-top: calc(163.2% + 20rem);
}

.success-message {
  position: fixed;
  z-index: 1000;
  top: 25rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  padding: 0.5rem 8rem;
  @include respondMax(800px) {
    font-size: 3rem;
    padding: 0.5rem 4rem;
  }
  @include respondMax(500px) {
    font-size: 2.5rem;
    padding: 0.5rem 2rem;
  }
  &--ad2222 {
    color: var(--white);
    background-color: var(--blue-primary);
    border: solid 4px var(--yellow);
  }
  &--paranormal {
    color: var(--secondary-blue);
    background-color: var(--white);
    border: solid 4px var(--secondary-blue);
  }
}
.winl {
  position: absolute;
  font-size: 8rem;
  z-index: 4131345134;
}
.win {
  position: absolute;
  font-size: 8rem;
  z-index: 4131345134;
}

.freddy-krueger {
  position: absolute;
  left: 33.5%;
  width: 8.8vw;
  height: 17.3vw;
  margin-top: calc(15.5% + 20rem);
}
.hannibal-lecter {
  position: absolute;
  left: 57.5%;
  width: 7.5vw;
  height: 17.3vw;
  margin-top: calc(46.5% + 20rem);
}
.leatherface {
  position: absolute;
  left: 65.5%;
  width: 10.4vw;
  height: 20.7vw;
  margin-top: calc(37.5% + 20rem);
}
.tricycle-from-the-shining {
  position: absolute;
  left: 91.5%;
  width: 8vw;
  height: 9vw;
  margin-top: calc(20.5% + 20rem);
}
.it {
  position: absolute;
  left: 50.5%;
  width: 11vw;
  height: 9vw;
  margin-top: calc(140.5% + 20rem);
}
.demagorgon {
  position: absolute;
  left: 68.5%;
  width: 18vw;
  height: 18vw;
  margin-top: calc(119.5% + 20rem);
}
