.Game {
  position: relative;

  &__gameboard {
    position: relative;
  }
  &__image {
    width: 100%;
    display: block;
    position: absolute;
    margin-top: 20rem;
  }
}

.lois {
  height: 3vw;
  border: 5px solid red;
  width: 4vw;
  position: absolute;
  margin-top: calc(89.3% + 20rem);
  left: 32%;
}

.patrick {
  height: 4.5vw;
  width: 4.3vw;
  border: 5px solid red;
  position: absolute;
  left: 64.3%;
  margin-top: calc(90.1% + 20rem);
}
.petergriffin {
  border: 5px solid red;
  position: absolute;
  left: 73%;
  width: 4.3vw;
  height: 5vw;
  margin-top: calc(165.2% + 20rem);
}
.consuela {
  border: 5px solid red;
  position: absolute;
  left: 34.5%;
  width: 4.3vw;
  height: 5vw;
  margin-top: calc(52.5% + 20rem);
}
.stewie {
  border: 5px solid red;
  position: absolute;
  left: 93%;
  width: 3vw;
  height: 3vw;
  margin-top: calc(88.5% + 20rem);
}
.tom {
  border: 5px solid red;
  position: absolute;
  left: 84.3%;
  width: 4.3vw;
  height: 5vw;
  margin-top: calc(163.2% + 20rem);
}

.success-message {
  position: fixed;
  z-index: 1000;
  top: 25rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  padding: 0.5rem 8rem;
  &--ad2222 {
    color: var(--white);
    background-color: var(--blue-primary);
    border: solid 4px var(--yellow);
  }
  &--paranormal {
    color: var(--secondary-blue);
    background-color: var(--white);
    border: solid 4px var(--secondary-blue);
  }
}

/*
.freddy14 {
  border: 5px solid red;
  position: absolute;
  left: 33.5%;
  width: 8.8vw;
  height: 17.3vw;
  margin-top: 15.5%;
}
.hannibal39 {
  border: 5px solid red;
  position: absolute;
  left: 57.5%;
  width: 7.5vw;
  height: 17.3vw;
  margin-top: 46.5%;
}
.leatherface53 {
  border: 5px solid red;
  position: absolute;
  left: 65.5%;
  width: 10.4vw;
  height: 20.7vw;
  margin-top: 37.5%;
}
.shiningtri {
  border: 5px solid red;
  position: absolute;
  left: 91.5%;
  width: 8vw;
  height: 9vw;
  margin-top: 20.5%;
}
.it108 {
  border: 5px solid red;
  position: absolute;
  left: 50.5%;
  width: 11vw;
  height: 9vw;
  margin-top: 140.5%;
}
.demagorgan104 {
  border: 5px solid red;
  position: absolute;
  left: 68.5%;
  width: 18vw;
  height: 18vw;
  margin-top: 119.5%;
}
*/
