/*
.freddy14 {
  border: 5px solid red;
  position: absolute;
  left: 33.5%;
  width: 8.8vw;
  height: 17.3vw;
  margin-top: 15.5%;
}
.hannibal39 {
  border: 5px solid red;
  position: absolute;
  left: 57.5%;
  width: 7.5vw;
  height: 17.3vw;
  margin-top: 46.5%;
}
.leatherface53 {
  border: 5px solid red;
  position: absolute;
  left: 65.5%;
  width: 10.4vw;
  height: 20.7vw;
  margin-top: 37.5%;
}
.shiningtri {
  border: 5px solid red;
  position: absolute;
  left: 91.5%;
  width: 8vw;
  height: 9vw;
  margin-top: 20.5%;
}
.it108 {
  border: 5px solid red;
  position: absolute;
  left: 50.5%;
  width: 11vw;
  height: 9vw;
  margin-top: 140.5%;
}
.demagorgan104 {
  border: 5px solid red;
  position: absolute;
  left: 68.5%;
  width: 18vw;
  height: 18vw;
  margin-top: 119.5%;
}
*/
