@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideToLeft {
  0% {
    left: 50%;
  }
  100% {
    left: -10%;
    height: 900px;
  }
}

@keyframes slideToCenter {
  0% {
    left: -10%;
  }
  100% {
    left: 50%;
  }
}

@keyframes slideToRight {
  0% {
    left: 50%;
  }
  100% {
    left: 150%;
  }
}
