:root {
  --blue-primary: #1f2536;
  --yellow: #ffd500;
  --white: white;
  --secondary-blue: #1000c3;
  --green: #a6ffa5;
  --purple: #f369ff;
}
.blue-primary {
  color: var(--blue-primary);
}
.yellow {
  color: var(--yellow);
}
.white {
  color: var(--white);
}
.secondary-blue {
  color: var(--secondary-blue);
}
.purple {
  color: var(--purple);
}

:root.green {
  --green: green;
}
html {
  font-size: 62.5%;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: "Amatic SC";
}
