.Header__logo {
  font-size: 10rem;
  &--ad2222 {
    color: var(--blue-primary);
  }
  &--paranormal {
    color: var(--secondary-blue);
  }
}

.text {
  &--small {
    font-size: 2.5rem;
  }
  &--medium {
    font-size: 3.5rem;
  }
  &--white {
    color: white;
  }
}
